---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Librería de Satoshi & B4OS. All rights reserved.
	<div class="social-links">
		<a href="https://m.webtoo.ls/@astro" target="_blank">
			<span class="sr-only">Follow Us on Nostr</span>
			<svg
				viewBox="0 0 16 16"
				aria-hidden="true"
				width="32"
				height="32"
				astro-icon="social/nostr"
				><path
					fill="currentColor"
					d="M11.19 12.195c2.016-.24 3.77-1.475 3.99-2.603.348-1.778.32-4.339.32-4.339 0-3.47-2.286-4.488-2.286-4.488C12.062.238 10.083.017 8.027 0h-.05C5.92.017 3.942.238 2.79.765c0 0-2.285 1.017-2.285 4.488l-.002.662c-.004.64-.007 1.35.011 2.091.083 3.394.626 6.74 3.78 7.57 1.454.383 2.703.463 3.709.408 1.823-.1 2.847-.647 2.847-.647l-.06-1.317s-1.303.41-2.767.36c-1.45-.05-2.98-.156-3.215-1.928a3.614 3.614 0 0 1-.033-.496s1.424.346 3.228.428c1.103.05 2.137-.064 3.188-.189zm1.613-2.47H11.13v-4.08c0-.859-.364-1.295-1.091-1.295-.804 0-1.207.517-1.207 1.541v2.233H7.168V5.89c0-1.024-.403-1.541-1.207-1.541-.727 0-1.091.436-1.091 1.296v4.079H3.197V5.522c0-.859.22-1.541.66-2.046.456-.505 1.052-.764 1.793-.764.856 0 1.504.328 1.933.983L8 4.39l.417-.695c.429-.655 1.077-.983 1.934-.983.74 0 1.336.259 1.791.764.442.505.661 1.187.661 2.046v4.203z"
				></path></svg
			>
		</a>
		<a href="https://x.com/libdesatoshi" target="_blank">
			<span class="sr-only">Follow Libreria de Satoshi on Twitter</span>
			<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32" astro-icon="social/twitter"
				><path
					fill="currentColor"
					d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
				></path></svg
			>
		</a>
		<a href="https://github.com/LibreriadeSatoshi" target="_blank">
			<span class="sr-only">Go to Libreria's GitHub repo</span>
			<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32" astro-icon="social/github"
				><path
					fill="currentColor"
					d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
				></path></svg
			>
		</a>
		<a href="https://nostr.com/tu_perfil" target="_blank" class="nostr-logo">
			<span class="sr-only">Follow Us on Nostr</span>
			<svg viewBox="0 0 1600 1700" width="128" height="128" fill="currentColor" aria-hidden="true"
				><path 
					fill="currentColor" 
					d="M743.188 122.688c8.85.725 15.583 5.23 22.66 10.312 8.785 5.574 18.7 8.138 28.617 11l3.285 1 2.984.875C803 147 803 147 803.954 149l.046 2c-2.139 2.139-3.133 2.427-6 3l6 4-1 4c-2.812.173-5.625.34-8.438.5l-2.604.153c-4.896.265-9.718.334-14.616.163-9.084-.286-17.11 1.08-25.342 5.184-1.324 3.97-.726 5.189 1 9 4.259 6.564 10.592 10.815 16.801 15.36 16.347 12.028 29.915 26.004 33.726 46.68 3.085 25.847-3.95 47.259-19.527 67.96-11.984 14.638-27.065 24.893-43.222 34.42l-2.235 1.33-2 1.172c-1.708 1.01-1.708 1.01-2.543 3.078a119.966 119.966 0 0 0-.176 5.574c-.367 20.065-1.521 37.654-15.886 53.113-20.616 19.288-48.872 25.394-76.333 25.336l-3.265.027c-2.099.008-4.198-.022-6.295-.094-2.93.017-5.257.13-8.045 1.044-2.049 2.118-3.362 4.216-4.783 6.793-1.465 2.658-3.142 4.19-5.592 5.957l-2.332 1.723c-2.072 1.38-4.165 2.54-6.356 3.714-5.618 3.324-8.663 9.354-11.937 14.813l3.031-.96a8572.39 8572.39 0 0 1 33.872-10.63c8.77-2.737 17.532-5.493 26.284-8.285l2.683-.85a562.928 562.928 0 0 0 10.903-3.556c8.466-2.815 17.941-5.479 26.727-2.594 7.988 4.28 12.64 11.895 17.25 19.438a471.24 471.24 0 0 0 11.656 17.984c2.872 4.42 3.952 7.088 3.594 12.453-1 1-1 1-4 1.375-10.631-.238-19.047-10.422-26-17.375v10c-2.188 1.188-2.188 1.188-5 2-3.217-1.455-5.785-3.257-8-6-.95-3.137-.95-3.137-1.688-6.688-.25-1.179-.502-2.358-.761-3.574L683 465c-7.156-.639-12.8.948-19.502 3.221-2.965 1.005-5.342 1.779-8.498 1.779l-1 2c-1.638.243-3.278.477-4.923.669-3.786.603-7.34 1.95-10.952 3.206l-4.555 1.555c-2.23.766-4.46 1.532-6.688 2.3-4.349 1.477-8.721 2.822-13.132 4.102l-3.344.982a743.776 743.776 0 0 1-6.812 1.961c-6.326 1.881-11.475 4.015-16.79 7.962-4.37 3.059-9.693 3.092-14.804 2.263-4.271-2.393-7.122-5.489-9-10-1.32-9.897 1.214-18.13 4.813-27.25l1.369-3.7c2.505-6.562 2.505-6.562 3.818-9.05l3-1c.733-2.015.733-2.015 1-4-4.817.806-9.37 2.298-14 3.813l-2.406.751c-4.636 1.519-7.867 3.182-11.594 6.436h-2v2c-1.354 1.17-1.354 1.17-3.262 2.469l-2.123 1.466-2.303 1.565c-6.653 4.603-13.147 9.33-19.5 14.34C517 477 517 477 514.563 478.566c-5.361 3.46-6.759 6.79-8.66 12.82C503.28 498.98 496.766 502.49 490 506l-2.488.777c-3.53 1.718-5.42 4.452-7.7 7.536l-1.436 1.887a741.176 741.176 0 0 0-2.938 3.89 423.973 423.973 0 0 1-4.094 5.34c-4.743 6.1-9.334 12.278-13.75 18.62L456 546h-2l-1 4h-2l-.688 2.063c-1.624 3.636-3.64 6.965-6.312 9.937h-2l-.676 2.055c-1.697 3.774-4.013 6.79-6.512 10.07-5.235 7.002-9.98 14.2-14.511 21.68-5.184 8.41-11.339 15.233-18.301 22.195-8.23 8.538-13.986 17.166-18.629 28.066C382 648 382 648 379.348 648.777L377 649c-4.133-4.697-5.512-10.447-5.309-16.648 1.34-10.208 5.82-18.795 11.309-27.352-1.521 0-3.042.025-4.563.063C376 605 376 605 375 604c-.84-5.46-.663-9.816 2.625-14.375 6.234-7.203 15.046-11.02 24.438-12.125 9.372-2.233 16.504-17.085 21.468-24.727 3.14-4.832 6.45-9.54 9.754-14.261 1.698-2.366 1.698-2.366 2.715-4.512h2l.676-2.055c1.697-3.774 4.013-6.791 6.512-10.07 4.01-5.354 7.759-10.769 11.257-16.477 1.45-2.236 3.022-4.182 4.743-6.21 3.485-4.463 4.419-9.515 5.835-14.91C469.45 476.133 474.67 471.974 482 468c1.26-.47 2.53-.91 3.813-1.313 7.752-2.604 14.25-8.933 20.312-14.25C509 450 509 450 511 450v-2h2v-2c1.469-1.41 1.469-1.41 3.5-3.063 7.152-6.101 12.778-12.82 17.5-20.937l-1.887-.227c-24.065-3.423-52.208-11.673-71.789-26.52-4.91-3.581-9.605-2.833-15.402-1.929-1.43.298-2.854.633-4.27.996-2.057.528-4.131.989-6.21 1.422-13.018 2.801-24.263 8.459-35.547 15.445-2.471 1.06-4.236 1.161-6.895.813-3.484-5.226-2.437-11.901-2-18 .725-2.968 1.65-5.244 3-8h-2l-1.75 1.75c-2.25 2.25-2.25 2.25-5.063 4-2.885 2.037-4.505 3.735-6.687 6.438-2.313 2.736-3.25 3.719-6.688 5-3.302-.22-4.529-.82-6.812-3.188-3.266-9.797-.11-19.612 3-29-6.747 2.604-6.747 2.604-13.25 5.75-3.147 1.43-5.33 1.568-8.75 1.25-1-1-1-1-1.375-4.688.219-12.55 7.013-22.738 14.375-32.312l1.895-2.559c2.474-2.868 5.225-5.163 8.23-7.441l1.737-1.323c11.33-8.434 23.737-12.878 37.888-12.865l2.117-.001c5.546.056 10.766.744 16.133 2.189v2l5 1-1.563-2.688c-1.52-3.503-1.745-4.791-.437-8.312 2.952-1.476 5.637-1.166 8.93-1.21l4.32-.08 2.29-.04c29.103-.559 52.691-5.907 78.432-19.882 18.145-9.844 37.17-18.094 57.028-23.788l2.235-.676c12.152-3.551 24.391-3.71 36.952-3.762l2.433-.019c25.378-.125 47.36 6.44 68.735 20.227l2.142 1.38c1.335.872 2.66 1.76 3.975 2.663 5.026 3.32 9.606 4.789 15.743 3.847l1.722-.598c6.99-1.983 13.279-1.04 20.375.125 10.972 1.513 19.145-.988 28.211-7.246 7.186-5.633 11.69-11.878 13.477-20.941 1.177-11.982.792-23.161-7.027-32.844-6.928-7.572-14.622-13.965-23.164-19.632-4.021-2.722-6.798-5.74-9.809-9.524l-2.555-2.477c-2.688-2.774-4.57-5.596-6.57-8.898l-2.008-3.273c-7.085-12.718-8.206-28.494-4.242-42.54C723.462 133.96 727.5 127.99 735 124c2.76-.85 5.311-1.03 8.188-1.313ZM793 153l1 2 2-1-3-1Z"
				></path></svg
			>
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
